{% extends '_base.html' %}

{% block title %}Complete login{% endblock %}

{% block main %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Complete login</h1>
    <p class="govuk-body">Click the link below to complete the login process for the G&T powerup.</p>
    <form method="POST" data-module="disable-on-submit disable-permanently">
      {{ login_with_payload_form.csrf_token }}
      <input class="govuk-button" type="submit" value="Complete login">
    </form>
  </div>
</div>
{% endblock %}