{% extends '_base.html' %}

{% block title %}{{ product_signoff.trello_board.name }}{% endblock %}

{% block main %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{ product_signoff.trello_board.name }}</h1>
    
    <div class="govuk-body">This board is configured with the ‘<span class="govuk-!-font-weight-bold">{{ product_signoff.trello_list.name }}</span>’ list indicating that stories have been signed off by a product manager.</div>
    
    <h2 class="govuk-heading-l">Delete check</h2>
    <div class="govuk-body">Delete the product sign-off check if it is no longer required for this board.</div>
    <form method="GET" action="{{ url_for('.trello_delete_signoff_check', signoff_id=product_signoff.id) }}" data-module="disable-on-submit">
      <input class="app-button-danger" type="submit" value="Delete check">
    </form>
  </div>
</div>
{% endblock %}