{% extends '_base.html' %}

{% block title %}Choose ‘Product sign-off’ list{% endblock %}

{% block main %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Choose ‘Product sign-off’ list</h1>

    <p class="govuk-body">Select the list that you use to track the progress of stories that you’re working on.</p>
    
    <form method="POST" data-module="disable-on-submit">
      {{ list_form.csrf_token }}
      {{ list_form.list_choice }}
      <input class="govuk-button govuk-!-margin-top-6" type="submit" value="Continue">
    </form>
  </div>
</div>
{% endblock %}